:root {
    --navbar: #B7B5B5;
    --background: #D5D5D5;
    --block-pat-1: #E7E7E7;
    --block-pat-2: #FFFFFF;
    --white: hsl(0, 0%, 100%);
    --black: #000000;
    --container: #EBB267;
    --footer-primary: #424242;
    --footer-secondary: #1f1f1f;
    --footer-text-primary: #FFFFFF;
    --footer-text-secondary: #F0E9E9;
    --tech-background: #F2F0F0;
    --conainer-block-height: 620px;
    --button-hover-dark: #131313;
    --primary-dark: #242424;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F2F0F0;
}

.body-about {
    display: block;
    margin: 0;
    margin-bottom: 100px;
}

.heading-about-me {
    margin-top: 100px;
    margin-bottom: 23px;
    color: var(--button-hover-dark);
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.block-about {
    border-radius: 12px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
}

.my-image {
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.my-image img {
    border-radius: 20px;
    box-shadow: 0 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.content-about {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.content-part-1 h2 {
    font-weight: 500;
    font-size: 38px;
}

.content-part-2 h4 {
    margin-top: 20px;
    font-size: 26px;
}

.content-part-2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-part-2 ul li {
    font-size: 16px;
}

.content-part-3 {
    margin-top: 18px;
    display: flex;
    width: 100%;
    align-items: bottom;
    justify-content: center;
    /* margin-right: 10px; */
    /* bottom: 1px; */
}

.social-media-icons-contact- {
    display: block;
    /* border: 2px solid blue; */
    border: none;
    border-radius: 8px;
    /* background-color: var(--container); */
    margin-right: 10px;
}

.contact-social {
    /* filter: invert(1); */
    padding: 3px;
    margin-left: 10px;
}

.content-part-3 :hover {
    outline: none;
    /* z-index: 8; */
    padding: 0.00000009px;
    cursor: pointer;
}

.student {
    font-size: 23px;
    font-weight: 50;
}

.contact-me {
    padding: 5px;
    border-radius: 14px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    /* border: 2px solid black; */
    font-size: 18px;
    cursor: pointer;
    background-color: var(--block-pat-2);
}

.contact-me:hover {
    transform: scale(1.1);
    background-color: var(--button-hover-dark);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 6px;
    color: white;
}

.contact-body {
    margin-top: 10px;
    font-size: 18px;
}

@media(max-width: 1090px) {
    .block-about {
        display: block;
    }
    .my-image {
        padding: 20px;
    }
    .content-about {
        padding: 12px;
    }
    .body-about {
        margin-bottom: 20px;
    }
}

@media(max-width: 520px) {
    .content-part-2 ul li {
        font-size: 10px;
    }
    .contact-body {
        font-size: 14px;
    }
    .content-part-2 h4 {
        margin-top: 10px;
        font-size: 20px;
    }
    .body-about {
        margin-bottom: 10px;
    }
    .social-media-icons-contact- img {
        height: 20px;
        width: 19px;
        margin: 0;
        padding: 1px;
    }
    .heading-about-me {
        font-size: 45px;
        margin: 0;
        margin-top: 110px;
    }
}