.first-box {
    display: block;
    /* position: relative; */
    width: 100%;
    z-index: -1;
    /* margin-top: 0px; */
    background-image: url("../bg-1.jpg");
    /* background: no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    /* background-color: rgba(0, 0, 0); */
    /* border: 2px solid red; */
    height: 580px;
    padding-top: 240px;
}

.line-upper {
    height: 5px;
    /* border: 2px solid red; */
    width: 30%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.top-text {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 50px;
    margin: 5px;
    text-shadow: 2px 3px 2px black;
}

.top-text p:hover {
    text-shadow: 2px 5px 3px black;
}

.line-bottom {
    height: 5px;
    /* border: 2px solid red; */
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1146px) {
    .top-text {
        font-size: 40px;
    }
    .first-box {
        /* margin: 60px; */
        padding-top: 200px;
    }
    .first-box {
        height: 480px;
    }
}

@media (max-width: 890px) {
    .top-text {
        font-size: 32px;
        /* margin: 0; */
    }
}

@media (max-width: 700px) {
    .top-text {
        font-size: 28px;
    }
    .first-box {
        padding-top: 170px;
        height: 380px;
    }
}

@media (max-width: 590px) {
    .top-text {
        font-size: 20px;
    }
    .first-box {
        padding-top: 135px;
        height: 300px;
    }
}